/*-----About------*/

.about {

  hr {
    .style-hr;
  }

  .cards-about {
    margin-top: @distanceBlocks;
    margin-bottom: 5rem;

    @media @mobile{
      .cols-about{
        padding-bottom: 2rem;
        padding-right: 15%;
        padding-left: 15%;
      }
    } 

    @media @tablet{
      .cols-about{
        padding-bottom: 5rem;
      }
    }
    
  }

  #text-about {
    width: 20rem;
  }

  h3 {
    .style-h3(#202020, bold, left);
  }

  h2 {
    .style-h2(#202020, @fontSizeh2, left);
  }

  .coin {
    img {
      /* .border; */
      width: 80%;
      @media @smallDevices{
        margin-top: 10%;
      }
      
    }
  }

  .card-img-top {
    width : 30px;
    height: auto;
  }

  .card {
    height       : 18rem;
    width        : 16rem;
    box-shadow   : 3px 3px 15px #0000001A;
    border-radius: 9px;
    @media @tablet{
      width        : 14rem;
      height       : 18rem;
      /* .border; */
    }
    .row {
      div.col-lg-10>h5 {
        //.border;
        border-style: solid;
        border-width: 1.5px;
        border-color: white white #202020;
        width       : 50%;
        height      : 30px;

        @media @tablet{
          width: auto;
        }

      }
    }

  }
}