/*---Contact---*/

.container-contact{
  /* .border; */
  
  .title-contact{
    /* .border; */
    margin: 0 auto;
    max-width: 18.75rem; //300px;
    /* padding-top: 2rem; */
    padding-bottom: 2rem;
    ul{
        padding-left: 0px;
      li{
        /* .border; */
        display: inline-block;
        font-size: 1.5rem;
        padding-bottom: 0.6rem;
        /* &:link {
          text-decoration: none;
        } */
        a{
          &:link {
            text-decoration: none;
            color: grey;
          }
        }
      }
      
    }
    hr {
      .style-hr;
    }

    h3 {
      .style-h3(#202020, bold, left);
    }

    h2 {
      .style-h2(#202020, @fontSizeh2, left);
    }
  }

  .contact {
    background   : #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow   : 3px 3px 15px #0000001A;
    /* .border; */
    border-radius: 13px;
    height       : 350px;
    /* margin: 0 20px; */
    /* .border; */
    /* width: 25rem; //400px; */
    @media @mobile{
      /* max-width: 100%; //400px; */
      margin: 20px 20px 60px 20px;
      /* .border; */
    }
    margin-bottom: 3rem;
    /* .border; */
    .div_btn-contact{
      margin-top: 45px;
    }
    button{
      background-color: @colorGreen;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 8px;
      width: 12rem; 
      font-weight: bold;
    }
    .row .col-form {
      // .border;
      /* margin: 50px auto 80px auto;
      max-width : 100%; */
      margin: 50px;
      /* max-width: 100%; */
      width: 100%;
      /* @media @mobile{
        margin: 40px auto 40px auto;
      } */
      /* .border; */
  
      .form-control {
        /* .border; */
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #A4A4A4;
        padding: 0 0 !important;
        
      }
    }
  }
  
}