/*---Fonts---*/

@font-face {
  font-family: @fontLight;
  src        : url('/fonts/Barlow/Barlow-Light.ttf') format('truetype');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: @fontSemiBold;
  src        : url('/fonts/Barlow/Barlow-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style : normal;
}