/*--- General ---*/

html,
body,
.home {
  height: 100%;
}

html,
body {
  font-family     : @fontMain, sans-serif;
  font-size       : 100%;
  background-color: white;
}

body a {
  transition        : 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition   : 0.5s all;
  -o-transition     : 0.5s all;
  -ms-transition    : 0.5s all;
}
