/*--- Header ---*/

.navbar {
  z-index           : 1;
  top               : 24px;
  .active{
      .border-top;   
   }
   @media @mobile{
     .nav{
       /* .border; */
       display: flex;
       flex-wrap: nowrap;
     }
   }
}

.navbar ul li {
  .nav-link {
    color: @colorBase;
    &:hover {
      .border-top;
    }

  }
  .login {
    color: red;
    &:hover {
      text-decoration: none;
    }
  }
}

header{
  margin-bottom: @distanceBlocks;
  height: 100%;
}

