/*-----Home------*/
.home {
    
    .home-properties(center);
  
    .box-home{
      padding-top : 200px;
      .logo{
        max-width: 60%;
      }
    }

    .col-logo{
      /* .border; */
      height: 400px;
    }
    .col-register-user{
      /* .border; */
      padding: 2px 3px;
    }
  
    @media @mobile {
      /* mixin home */
      .row{
        margin-right: 10px!important;
        margin-left: 10px!important;
      }
      .home-properties(46%);
      
      .box-home{
        padding-top : 200px;
        .logo{
          max-width: 60%;
        }
      }
    }
  
    @media @tablet{
      /* .border; */
      .home-properties(0%);
      
      .box-home{
        padding-top : 200px;
        .logo{
          max-width: 60%;
        }
      }
    }
  
    h5 {
      margin: 40px 0 10px 0;
      color : @colorBase;
      font  : @fontLight 1.6rem @fontMain !important;
    }
  
    .button {
      background-color: @colorGreen;
      text-align      : center;
      font            : SemiBold 20px/24px Barlow;
      letter-spacing  : 0.04px;
      color           : #202020;
      opacity         : 1;
    }

    .form-create-user{
        // .border; 
        background-color: white;
        padding: 20px;
        margin-top: 7rem;
        margin-bottom: 7rem;
        width: 50%;
        border-radius: 15px;
        .text-cadastre-se{
            font-weight: bolder;
            margin-bottom: 2px;
        }

        @media @mobile{
          width: 100%;
        }
        /*.border-left-cad{
            border: 2px solid green;
        }*/

        .form-group{
            label{
                font-weight: 900;
            }
            .dropdown{
                .dropdown-item {
                    padding: .1rem .4rem .1rem .4rem;;
                }
                img{
                    width: 3rem;
                }
            }
        }

        .btn-success{
            color: black;
            font-weight: bolder;
        }
    }
}