.great-profit{
    .style-h2(#333333, 3rem, center);
    font-weight: lighter;
}

.weekly-income{
    .style-h2(#B0B0B0, 1rem, center);
    padding: 30px;
}
.modal-body{
    padding: 0 1rem;
    img{
        width: 100%;
    }
}
.modal-header{
    border-bottom: none;
    span{
        color: #333333;
        font-size: 2.5rem;
    }
}

#modal-plans{
    background-color: white;
}

// #plansModal{
//     margin-top: 40px;
// }

.modal .plans-dialog {
    margin-top: 50px;
}

@media (min-width: 576px){
    .plans-dialog{
        max-width: 700px;
        margin: 1.75rem auto;
    }
}
