/*--- Modal Languages ---*/

.modal {
  background-color       : rgba(10, 23, 55, 0.5);
  opacity                : 1;
  backdrop-filter        : blur(13px);
  -webkit-backdrop-filter: blur(13px);

  .modal-dialog {
    margin-top: 150px;

    @media @mobile{
      margin-top: 20px;
    }

    .modal-content {
      background: none;
      border    : none;
      /* .border; */

      h3 {
        color        : #FFFFFF;
        margin-bottom: 30px;
        font-family  : @fontMain;
      }

      .row {
        /* .border; */

        /* @media @desktop{ */
          .col-lg-4{
            .card {
              width: 100%;
              margin: 0 auto;
              height: 90%;
  
              a {
                margin: 33px 70px 33px 70px;
                color : white;
  
                &:link {
                  text-decoration: none;
                }
  
                h5 {
                  margin-top: 10px;
                }
              }
  
              background   : #2D2D2D 0% 0% no-repeat padding-box;
              box-shadow   : 5px 5px 20px #000000BA;
              border-radius: 23px;
  
              .card-img-top {
                width : auto !important;
                height: auto !important;
  
              }
            }
          }
        /* } */

        @media @mobile{
          .col-lg-4{
            .card{
              width: 75%;
              margin: 0 auto;
              height: 85%;
            }
          }
          
        }
      }
    }
  }
}
