/*--- SCN ---*/

.scn {
  background: #212121;
  color     : @colorBase;
  max-height    : 100%;
  padding-top: 0.01rem;

  .col-video{
    padding-bottom: 3rem;
  }

  @media @mobile{
    padding-top: 0.01rem;
  }

  @media @tablet{
    padding-top: 0.01rem;
  }
  
  video{
    max-width: 100%; 
    border-radius: 15px;
  }

  @media @tablet{
    .col-coin{
      /* .border; */
      padding-bottom: 4rem;
    }
  }

  

  hr {
    .style-hr;
    @media @tablet{
      .style-hr;
      margin-right: 800px;
    }
  }

  h3 {
    .style-h3(white, medium, left);
  }

  h1 {
    .style-h2(white, 3rem, left);

    @media @tablet {
      .style-h2(white, 2.1rem, left);
    }
  }

  .scn-detail{
    @media @smallDevices {
      max-width: 20rem;
    }
    @media @mobile{
      padding-bottom: 3rem;
      h1 {
        .style-h2(red, 2rem, left);
      }
    }
  }
  .container {
    margin-top: @distanceBlocks;

    .row {
      /* padding-top: 5rem; */
    }
  }
}