/*--- Mixins ---*/

.border {
  border: 2px solid red;
}

.bg-transparent {
  opacity: 0.3;
  filter : alpha(opacity=30);
}

.bg-grafismo(@url, @position){
  background-image   : @url;
  background-size    : auto auto;
  background-repeat  : no-repeat;
  background-position: @position;
}


.style-h3(@color, @font-weight, @text-align){
  text-align    : @text-align;
  font          : @font-weight @fontSizeh3 @fontMain;
  letter-spacing: 0.07px;
  color         : @color;
  margin-bottom : -5px;
}

.style-h2(@color, @font-size, @text-align){
  text-align    : @text-align;
  font          : bold @font-size @fontMain;
  letter-spacing: 0.12px;
  color         : @color;
}

.style-hr{
  background   : #3AE64A;
  height       : 8px;
  width        : 48px;
  margin-right : 500px;
  margin-bottom: 5px;
  margin-top   : 0;
}

.border-top{
  background: url(/img/border-top.png) no-repeat 50% 100%;
  background-size: 60% 3px;
}

.home-properties(@background-position-x){
  max-width     : 100%;
  background: transparent url('/img/bg-imagem.jpeg') no-repeat @background-position-x/cover;
  opacity   : 1;
}