// Variables

@width             : 100%;
@height            : 80%;
@fontMain          : 'Barlow';
@fontLight         : 'Light';
@fontSemiBold      : 'SemiBold';
@colorGreen        : #3AE64A;
@colorBase         : white;
@transparent       : 'transparent';
@fontSizeh3        : 2rem;
@fontSizeh2        : 3.75rem;
@fontWeightSemiBold: 500;
@distanceBlocks    : 5rem;

// Extra small devices (portrait phones, less than 576px)
@smallDevices: ~"(max-width: 575.98px)";

// Small devices (landscape phones, less than 768px)
@mobile: ~"(max-width: 767.98px)";

// Medium devices (tablets, less than 992px)
@tablet: ~"(max-width: 991.98px)";

// Large devices (desktops, less than 1200px)
@desktop: ~"(max-width: 1199.98px)";